li(class="right clearfix")
    span(class="chat-img pull-right")
        img(src="http://placehold.it/50/FA6F57/fff&text=ME",alt="User Avatar",class="img-circle")
    div(class="chat-body clearfix")
        div.header
            strong(class="primary-font pull-right") Jack Sparrow
            small.text-muted
                span(class="glyphicon glyphicon-time")
                | 5 mins ago
        p
            | {{.}}
